<h1>New question</h1>

<%= form_for(@question) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "70x10" %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => rand(1..1000) %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', questions_path %>
