<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= markdown(@question.description) %>
</p>

<br />

<p>
  <strong>Answers:</strong>
  <% if @answers %>
    <% @answers.each do |answer| %>
      <p>
        <strong>User:</strong>
        <%= answer.user_id %>
        <strong>Description:</strong>
        <%= markdown(answer.description) %>
      </p>
    <% end %>
  <% end %>
</p>

<h1>New Answer</h1>

<%= form_for([@question, @new_answer]) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "70x10" %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => rand(1..1000) %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', questions_path %>
<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
