<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<br />

<p>
  <strong>Answers:</strong>
  <% if @answer %>
    <%= @answer.description %>
  <% end %>
</p>

<%= link_to 'Back', questions_path %>
